.first-div{
    max-width: 100%;
    background-color: #1A1D4A;
    color: white;
}

.first-div-container{
  padding-left: 1rem;
}


.first-div-text h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.first-div-text span{
    color: rgba(107, 124, 243, 1);
}

.first-div-img img{
    width: 100%;
}

@media (max-width:200px) {
    .first-div-text h1{
        font-size: 17px;
        margin-bottom: 8px
    }
    .first-div-text p{
        font-size: 9px;
    }
}