.second-div-container img{
    width: 100%;
}

.second-div-container .img{
    text-align: center;
}


.second-div-container h2{
    color: rgba(107, 124, 243, 1);
    font-size: 24px;
    padding-bottom: 30px;
}

.second-div-container p{
    color:rgba(26, 29, 74, 1);
}

.second-div{
    padding: 50px 0 60px 0;
    background-color: rgba(255, 255, 255, 1)
}

.second-div-container{
    padding: 0 1rem;
}

@media (max-width:300px) {
    .second-div-container{
        padding: 0 0.5rem;
    }

    .second-div-container h2{
        font-size: 20px;
        padding-bottom: 25px;
    }

    .second-div-container p{
        font-size: 12px;
    }
}


@media (max-width:200px) {
    .second-div-container h2{
        font-size: 15px;
        padding-bottom: 15px;
    }

    .second-div-container p{
        font-size: 9px;
    }
}