 .third-div{
    background-color: #1A1D4A;
    color: white;
    padding: 60px 5% ;
    position: relative;
    max-width: 100%;
    
 }

.third-div-container{
    display: flex;
    align-items: center;
    position: relative;
}

.third-div .text{
    max-width: 50%;
}


.third-div h2{
    font-size: 1.8rem;
    color: #FFCC00;
}

.third-div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(245, 245, 245, 1);
}


.third-div img{
    width: 100%;
}

.third-div .img{
    width: 250px;
    right: 5%;
    position: absolute;
}


@media (max-width:760px) {
    .third-div-container{
        flex-direction: column;
    }

    .third-div p{
        width: 100%;
        font-size: 14px;
    }

    .third-div .text{
        text-align: center;
        max-width: 100%;
    }

    .third-div .img{
        width: 60%;
        position: static;
    }
}