.affliate-first-component{
    padding: 70px 2% 100px;
    max-width: 100%; 
}

.affliate-first-component-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.affliate-first-component-tag h2{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: 
    rgba(38, 41, 73, 1);;
}

.affliate-first-component-tag p{
    font-size: 16px;
    font-weight: 400;
    color: 
    rgba(38, 41, 73, 1);
}

.affliate-first-component-tag span{
    color: rgba(107, 124, 243, 1);
}

.affliate-first-component-tag{
    width: 40%;
}

.affliate-first-component-img{
    width: 40%;
}

.affliate-first-component-img img{
    width: 100%;
}


@media (max-width:760px) {
    .affliate-first-component-container{
        flex-direction: column;
    }

    .affliate-first-component{
        padding-top: 25px;
    }



    .affliate-first-component-img{
        width: 90%;
    }

    .affliate-first-component-tag{
        width:100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .affliate-first-component-tag p{
        font-size: 14px;
    }

    .affliate-first-component-tag h2{
        font-size: 1.8rem
    }
    
}