.sixth-component-div{
    max-width: 100%;
}

.affliate-cta{
    max-width: 100%;
    padding: 35px 5%;
    color: #fff;
    background-color: rgba(26, 29, 74, 1);
}

.affliate-cta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.affliate-cta-text{
    width: 50%;
}

.affliate-cta-text button{
    background-color: rgba(107, 124, 243, 1);
    border-radius: 8px;
    color: white;
    border: 0;
    padding: 14px 28px;
}

.affliate-cta-text h2{
    font-size: 2.4rem;
}

.affliate-cta-img{
    display: flex;
    width: 315px;
    right: 5%;
    position: absolute;
    justify-content: space-between;
}

.affliate-cta-img img{
    width: 50%;
}

.more-info{
    padding: 70px 5%;
    text-align: left;
}

.more-info h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 75%;
}

.more-info p{
    font-size: 14px;
    font-weight: 500;
    color:rgba(39, 41, 72, 1)
}

.more-info a{
    color: rgba(107, 124, 243, 1);
    text-decoration: none;
}

@media (max-width:990px) {
    .affliate-cta-img{
        right: 0;
    }
}

@media (max-width:760px) {
    .affliate-cta-container{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .affliate-cta{
        padding: 40px 10% 35px;
    }

    .affliate-cta-text{
        width: 90%;
        text-align: center;
        margin-bottom: 30px;
    }

    .affliate-cta-text h2{
        font-size: 1.8rem;
    }

    .affliate-cta-img{
        width: 90%;
        position: relative;
        justify-content: space-between;
    }
    
    .affliate-cta-img img{
        width: 50%;
    }

    .more-info{
        padding: 70px 5%;
        text-align: center;
    }

    .more-info h4{
        font-size: 18px;
        width: 100%;
    }

}

@media (max-width:550px) {
    .affliate-second-component-image{
        display: none;
    }
}