.affiliate-first-component{
    padding: 50px 1rem 0; 
}

.affiliate-first-component-tag h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: 
    rgba(38, 41, 73, 1);
}

.affiliate-first-component-tag p{
    font-size: 16px;
    font-weight: 400;
    color: 
    rgba(38, 41, 73, 1);
    margin-bottom: 40px;
}

.affiliate-first-component-tag button{
    padding: 10px 28px;
    color: #FFFF;
    background-color: rgba(107, 124, 243, 1);
    border: 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.affiliate-first-component-tag span{
    color: rgba(107, 124, 243, 1);
}

.affiliate-first-component-img{
    text-align: center;
}
  
.affiliate-first-component-img img{
    width: 100%;
}

@media (min-width:760px) {
    .container-xxl.affiliate-first-component-container {
        display: flex;
        align-items: center;
    }
    .affiliate-first-component-tag {
        width: 50%;
    }
    .affiliate-first-component-img {
        width: 50%;
    }
    .affiliate-first-component{
        padding: 50px 2rem 0; 
    }
}

@media (min-width:1280px) {
    .affiliate-first-component{
        padding: 50px 3rem 0; 
    }
    
    .affiliate-first-component-tag p{
        font-size: 20px;
    }
}

@media (max-width:300px) {
    .affiliate-first-component{
        padding: 30px 0.5rem 0; 
    }
    
    .affiliate-first-component-tag h1{
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .affiliate-first-component-tag p{
        font-size: 9px;
        margin-bottom: 20px;
    }

    .affiliate-first-component-tag button{
        padding: 7px 18px;
        border-radius: 8px;
        font-size: 9px;
    }
    
}