.affiliate-second-component{
    background-color:rgba(26, 29, 74, 1);
    padding: 60px 1rem;
    color: #ffff;
}

.affiliate-second-component-image img{
    display: none;
}

.affiliate-second-component-container h2{
    font-weight: 600;
    font-size: 24px;
}

.affiliate-second-component-container h2 span{
   color: rgba(107, 124, 243, 1)
}

.affiliate-second-component-text-body{
    font-size: 14px;
}

.affiliate-second-component-container hr{
    color:rgba(107, 124, 243, 1);
    width: 33%;
    border: 1.8px solid;
    margin-bottom: 30px;
}


@media (min-width:992px) {
    .affiliate-second-component-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .affiliate-second-component-text{
        width: 49%;
    }
    .affiliate-second-component-image{
        width: 49%;
    }
    .affiliate-second-component-image img{
        display: inline-block;
        width: 100%;
    }
    .affiliate-second-component-container hr{
        width: 20%;
        margin-bottom: 40px;
    }
    .affiliate-second-component {
        padding: 92px 2rem;
        color: #ffff;
    }
}

@media (min-width:1280px) {
    .affiliate-second-component-text-body{
        font-size: 18px;
    }
    .affiliate-second-component-container h2{
        font-size: 48px;
    }

    .affiliate-second-component-text-body{
        font: 20px;
    }
    .affiliate-second-component {
        padding: 92px 3rem;
        color: #ffff;
    }

}

@media (max-width:300px) {
    .affiliate-second-component{
        padding: 50px 0.5rem;
    }
    
    .affiliate-second-component-container h2{
        font-size: 13px;
    }
    
    .affiliate-second-component-text-body{
        font-size: 8px;
    }

    .affiliate-second-component p{
        font-size: 9px;
        margin-bottom: 8px;
    }
    .affiliate-second-component-container hr{
        margin-bottom: 15px;
    }
}
