.advantage{
    background-color: #6B7CF3;
    color: #ffff;
    padding: 20px 1rem 20px;
}

.advantage .advantage-container{
    margin-left: 0;
}

.advantage h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: auto;
}

.advantage ._card{
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.advantage ._card .card-right{
    margin-left: 20px;
}

._card .card-right h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

._card .card-right p{
    font-size: 14px
}

.advantage .advantage-vertical{
    height: 123%;
    top: -107px;
}

.advantage .advantage-vertical-second{
    display: none;
}

@media (min-width:760px) {

    .advantage h1{
        text-align: left;
        font-size: 48px;
        margin: auto;
    }

    ._card .card-right h3{
        font-size: 36px
    }
    
    ._card .card-right p{
        font-size: 16px
    }

    .advantage ._card{
        width: 47%;
    }


    .advantage .card-div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .advantage .advantage-vertical-second{
        display: block; 
        height: 123%;
        top: -107px;
        right: 47%;
    }

    .advantage .advantage-container{
        margin-left: auto;
    }
}