.cta{
    padding:0;
    margin:0;
    background-color: #1A1D4A;
    /* background-image:url("../../../public/img/rectangle.svg");
    background-repeat: no-repeat;
    height: 721px;
    background-position: 0px -350%;
    background-size: cover; */
}

.map img{
    background-color: #1A1D4A;
    width: 100%;
}

.cta-text{
    color: #FFFF;
    width: 80%;
    margin: 0;
    border-radius:0px, 0px, 0px, 80px;
    top: -20px;
}

.background{
    /* background-image:url("../../../public/img/rectangle.svg");
    background-size: cover;
    background-position: 3px 0px;*/
    height: 400px; 
    background-color: #1A1D4A;
    
}

.cta-text h1{
    font-weight: 700;
    font-size: 36px;
    list-style: 43.2px;
    margin-bottom: 15px;
}

.cta-text .get-started{
    background-color: #6B7CF3;
    color: #ffff;
    border-radius:8px;
    padding:10px;
    gap:10px;
    width: 148px;
    height: 48px;
    border: 0;
    margin-top: 10px;
}