/* styles for cta jsx */

.contain-cta{
    background-color: #1A1D4A;
    max-width: 100%;
}

.cta{  
    
    background-color: #1A1D4A;
    color: white;
    padding: 12% 0 60px 20px;
    max-width: 100%;
}

.cta-container{
    display: flex;
    position: relative;
}

.map img{
    width: 100%;
}

.map{
    justify-self: end;
    width: 50%;
}

.cta-text{
    padding: 8% 20px 0 0;
    width: 50%;
    
}

.cta-text button{
    width: 211px;
    padding: 0px 10px;
    padding-left: 31px;
    border-radius: 5px;
    background-color: #1A1D4A;
    border-color: white;
    display: inline-flex;
    height: 60px;
    align-items: center;
    border-width: thin;
    color: white;
    border-style: groove;
}

.cta-text i{
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 5px;
}

.btn-div{
    display: inline-block;
    text-align: left;
    padding-left: 8%
}

.google-play{
    color: white
}

.get{
    font-size: 0.7rem;
    margin: 0;
}

.where{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.apple{
    margin-left: 3%;
}

.cta-text .p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: 
    rgba(255, 255, 255, 1);
}


@media (max-width: 960px){
    .cta{
        padding-left: 0;
    }
    .cta-text button{
        width: 176px;
        padding: 0px 10px;
        padding-left: 31px;   
        height: 50px;     
    }

    .cta-text{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .cta-text .p{
        font-size: 1.8rem;
    }

    .cta-container{
        position: flex;
        justify-content: center;
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .map{
        width: 100%;
        padding-top: 40px;
    }
}


@media (max-width: 600px){
    .cta-text .p{
        font-size: 16px;
    }
    .cta-text button{
        width: 150px;    
        height: 42px;
        padding: 0px 10px;
        padding-left: 20px;   
        height: 50px;  
    }

    .get{
        font-size: 8px;
    }
    
    .where{
        font-size: 12px;
    }


}
@media (max-width:365px) {
    .cta-text button{
        width: 113px;    
        height: 42px;
        padding-left: 10px;
        padding-right: 0;
    }
}

/* 
@media (max-width: 475px){
    .cta-text .p{
        font-size: 1.4rem;
    }

    
    .cta-text button{
        width: 140px;    
        padding-left: 10px;
    }

}

@media (max-width: 360px){
    .cta-text .p{
        font-size: 1.2rem;
    }

    
    .cta-text button{
        width: 110px;  
        padding: 0 6px; 
        height: 40px; 
    }

    .get{
        font-size: 8px;
        margin: 0;
    }
    
    .where{
        margin: 0;
        font-size: 12px;
    }

    .cta-text i{
        font-size: 1.2rem;
    }
} */