.cta{
    padding:0;
    margin:0;
    background-color: #1A1D4A;
    /* background-image: url("../../../public/img/cta-bg.png"); */
}

.map .map-2{
    display: none;
}

.map img{
    background-color: #1A1D4A;
    width: 100%;
}

.cta-text{
    color: #FFFF;
    width: 80%;
    margin: 0;
    border-radius:0px, 0px, 0px, 80px;
    top: -20px;
}

.background{
    height: 400px; 
    background-color: #1A1D4A;
}

.cta-text h1{
    font-weight: 700;
    font-size: 36px;
    list-style: 43.2px;
    margin-bottom: 15px;
}

.cta-text .get-started{
    background-color: #6B7CF3;
    color: #ffff;
    border-radius:8px;
    padding:12px 31px;
    gap:10px;
    border: 0;
    margin-top: 10px;
}

.cta .div-container{
    padding-bottom: 40px;
    padding-top: 20px;
    align-items: baseline;
}


@media (min-width:760px) {
    .map .map-1{
        display: none;
    }

    .map .map-2{
        display: block;
    }

    .cta-text p{
        font-size: 16px;
    }

    .cta-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 30px;
        padding-bottom: 60px;
    }

    .cta-text{
        width: 100%;
        top: 0;
        position: static!important;
    }
    
    .background{
        width: 50%;
        height: auto;
    }

    .background .container{
        padding-left: 4.5rem!important;
    }
    

    .map{
        width: 50%;
    }
}

@media (min-width:1027px) {
    .background{
        padding-top: 5%;
    }

    .cta-container{
        padding-right: 0;
    }
}

@media (max-width:300px) {
    .cta-text h1 {
        font-size: 23px;
    }
    
    
    .cta-text p{
        font-size: 10px;
    }

    .cta-text .get-started {
        font-size: 10px;
        border-radius: 4px;
        padding: 6px 13px;
    }

    .background{
        height: 250px;
    }
}

@media (max-width:200px) {
    .cta-text h1 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .cta-text p{
        font-size: 5px;
        margin-bottom: 0;
    }

    .cta-text .get-started {
        font-size: 5px;
        padding: 5px 11px;
        border: 3px;
    }
    .background{
        height: 150px;
    }
}

@media (max-width:1400px) {
    .cta-container{
        margin-right: 0;
        padding-right: 0;
    }
}