
/* styles for procedures jsx */
.phone-procedure-container{
    width: 90%;
    margin: auto;
    text-align: center;
}

.procedure .big-div .steps{
    font-weight: 500;
    margin: 16px auto 0;
    font-size: 16px;
    width: 75%;
    padding: 0 20px;
    color: #0F0F0F;
}

.procedure .big-div{
    text-align: center;
}

.procedure .big-div h2{
    font-size: 28px;
    font-weight: 600;
    color: #1A1D4A;
}

.procedure .big-div span{
    color: #6B7CF3;
}

.procedure{
    padding: 45px 1.5rem 50px;
    background-color: white;
}

.arrow-absolute{
    width: 100%;
    z-index: 0;
    left: 0px;
    bottom: 40px;
}

.arrow-absolute img{
    width: 100%;
}

.phone-images{
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
    overflow-y: scroll;
}

.phone-images::-webkit-scrollbar {
    display: none;
}

/* Hide the overscroll progress indicator for Firefox */
.phone-images {
    scrollbar-width: thin; /* "thin" or "none" to hide the scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-color: transparent transparent; /* Optional: Set scrollbar color to transparent in Firefox */
}


.phone-images img{
    width: 73%;
}

.phone-numbers .numberings{
    display: flex;
    margin: 30px 0 40px;
    font-weight: 500;
    align-items: center;
    position: relative;
}

.phone-numbers .numberings .number{
    border-radius: 12px;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B7CF3;
    color: #ffff;
    margin-right: 25px;
}

.phone-numbers .numberings .number p{
    margin: 0;
}

.phone-numbers .numberings .procedure-active-number{
    background-color:rgba(26, 29, 74, 1)
}

.phone-numbers .numberings .text{
    color: #0F0F0F;
}

.numbers-vertical{    
    height: 230px;
    left: 16px;
    top: 16px;
    display: none;
}

@media (min-width:760px) {
    .phone-procedure{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
    }
    .phone-procedure-container{
        width: 50%;
        margin: 0px;
        margin-right: 25px;
    }

    .numbers-vertical {
        top: 43px;
    }
    .phone-numbers .numberings{
        position: relative;
        z-index: 1;
        margin: 80px 0;
    }

    .phone-numbers .numberings .number{
        border-radius: 20px;
        width: 65px;
        height: 64px;
    }

    .arrow-absolute{
        bottom: 70px;
    }
}

@media (max-width:300px) {
    .procedure .big-div .steps {
        font-size: 10px;
        padding: 0 5px;
    }

    .procedure .big-div h2 {
        font-size: 18px;
    }

    .phone-numbers .numberings p{
        font-size: 10px;
    }

    .numbers-vertical{    
        height: 198px
    }

    .phone-numbers .numberings{
        margin: 17px 0;
    }

    .arrow-absolute{
        bottom: 20px;
    }

}

@media (max-width:231px) {
    .numbers-vertical{    
        height: 235px
    }
}