
/* styles for procedures jsx */
.phone-procedure-container{
    width: 300px;
    margin: auto;
}

.procedure .big-div .steps{
    font-weight: 500;
    margin: 16px auto 0;
    font-size: 16px;
    width: 75%;
    padding: 0 20px;
    color: #0F0F0F;
}

.procedure .big-div{
    text-align: center;
}

.procedure .big-div h2{
    font-size: 28px;
    font-weight: 600;
    color: #1A1D4A;
}

.procedure .big-div span{
    color: #6B7CF3;
}

.procedure{
    padding: 45px 1.5rem 50px;
    background-color: white;
}

.arrow-absolute{
    z-index: 0;
    left: -16px;
    bottom: 40px;
}

.phone-images{
    text-align: center;
    position: relative;
    z-index: 1;
}

.phone-images img{
    width: 240px;
}

.phone-numbers .numberings{
    display: flex;
    margin: 35px 0;
    font-weight: 500;
    align-items: center;
    position: relative;
}

.phone-numbers .numberings .number{
    border-radius: 8px;
    width: 39px;
    background-color: #6B7CF3;
    color: #ffff;
    padding: 7px 12px;
    text-align: center;
    margin-right: 25px;
}

.phone-numbers .numberings .text{
    color: #0F0F0F;
}

.numbers-vertical{
    height: 230px;
    left: 16px;
}

@media (min-width:760px) {
    .phone-procedure{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
    }
    .phone-procedure-container{
        width: auto;
        margin: 0px;
    }

    .numbers-vertical {
        top: 43px;
    }
    .numberings{
        position: relative;
        z-index: 1;
    }
}