
/* styles for procedures jsx */

.phone img{
    width: 100%;
}

.phone p{
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    height: 40px;
}

.phone{
    text-align: center;
}

.phones{
    display: flex;
    max-width: 100%;
    margin-top: 2rem;
}

.tag{
    border-radius: 5px;
    background-color: #E2E4FF;
    color: black;
    border-color: #1A1D4A;
    border-width: thin;
    border-style: groove;
    padding: 5px 30px;
    text-align: center;
}

.tag h2,.phone h2{
    font-weight: 700;
    font-size: 3rem;
    margin: auto;
}

.big-div .steps{
    font-weight: 500;
    font-size: 16px;
}

.big-div{
    text-align: center;
}

.tag span{
    color: #6B7CF3;
}

.procedure{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px 3px 50px;
    max-width: 100%;
}

@media (max-width: 650px) {
    .phone p{
        font-size: 14px;
        height: 30px;
    }

    .tag h2,.phone h2{
        font-size: 2.5rem;
    }

    .big-div .steps{
        font-weight: 500;
        font-size: 14px;
    }


}

@media (max-width: 540px) {
    .tag h2, .phone h2{
        font-size: 2.1rem;
    }



}



@media (max-width: 460px) {
    
    .phone p{
        font-size: 10px;
        height: 25px;
    }

    .tag h2, .phone h2{
        font-size: 1.8rem;
    }
   
}

@media (max-width: 460px) {
    
    .phone p{
        font-size: 10px;
        height: 25px;
    }
    
    .tag h2, .phone h2{
        font-size: 1.8rem;
    }  
}

@media (max-width: 340px) {
    
    .phone p{
        font-size: 8px
    }
}