.questions{
    padding: 2% 2% 300px;
}

.questions-container{
    display: flex;
}

.questions .link{
    width: 25%;
}

.questions .link p{
    margin-bottom: 30px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.81);
}

.questions .question{
    width: 70%;
    height: 300px;
    overflow-y: auto;
}

.questions p{
    font-size: 16px;
}

.question-div{
    border: 1px solid;
    border-color: #c0c0c0;
    padding: 10px 15px;
}

.active-scroll-spy {
    border-left: 0.15rem solid #6B7CF3;
    height: 14px;
    line-height: 1;
    padding-left: 8px;
}

.accordion-button{
    color:rgba(0, 0, 0, 0.78);
}

@media (max-width:760px) {
    .questions{
        padding-bottom: 100px;
    }
}