.questions{
    padding: 2% 2% 300px;
}

.questions-container{
    display: flex;
}

.questions .link{
    width: 25%;
}

.questions .link a{
    margin-bottom: 20px;
    height: 31px;
    line-height: 1;
    padding-left: 8px;
    padding-top: 7px;
    color: rgba(0, 0, 0, 0.81);
    border: 0;
}

.list-group-item{
    background-color: unset;
}

.list-group-item.active{
    color: #6B7CF3 !important;
    background-color: unset;
}

.questions .question{
    width: 70%;
    height: 300px;
    overflow-y: auto;
}



.questions p{
    font-size: 16px;
}

.question-div{
    border: 1px solid;
    border-color: #c0c0c0;
    padding: 10px 15px;
}

.active-scroll-spy {
    border-left: 0.09rem solid #6B7CF3;
}

.accordion-button{
    color:rgba(0, 0, 0, 0.78);
}

@media (max-width:760px) {
    .questions{
        padding-bottom: 100px;
    }
}