.title-div h1{
    font-size: 2.6rem;
    padding-right: 5%;
    font-weight: 600;
}
.title-div .title-h1{
    width: 50%;
    padding-top: 20px;
}

.title-div .title-img{
   width: 25%;
}

.title-div img{
    width: 100%;
}

.title-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-div {
    background-color: #1A1D4A;
    color: white;
    padding: 20px 5% 30px ;
    max-width: 100%;
}

.title-div span{
    color: #FFCC00;
}


@media (max-width:760px){
    .title-div-container{
        flex-direction: column;
        align-items: center;
    }

    .title-div .title-h1{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .title-div .title-img{
       width: 50%;
    }

}
