.title-div-container{
    padding: 10px 2rem 60px;
}

.title-div-container .container{
    text-align: center;
}

.title-div {
    background-color: #1A1D4A;
    color: white;
    max-width: 100%;
}

.title-div .title-h1{
    width: 70%;
    margin: 20px auto;
}

.title-div-container h1{
    font-size: 32px;
    font-weight: 600;
    color: rgba(107, 124, 243, 1);
}

.title-div-container img{
    width: 136px;
}

.faq .contact-third-component{
    margin-top: 0;
}

.faq .contact-third-component .footer{
    display: none;
}

@media (min-width:760px) {
    .title-div-container{
        padding: 65px 3rem 60px;
    }

    .title-div-container .container{
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .title-div-container img{
        width: 200px;
    }

    .title-div-container .title-h1{
        width: 60%;
        margin-left: 30px;
    }
}

@media (min-width:1280px) {
    .title-div-container{
        padding: 65px 4rem 60px;
    }

}

@media (max-width:290px) {
    .title-div-container h1{
        font-size: 28px;
    }
    .title-div .title-h1{
        width: 95%;
    }

    .title-div-container{
        padding-bottom: 45px;
    }
}
