.privacy-policy-container .privacy-link{
    list-style: none;
}

.privacy ._navbar{
    padding-bottom: 2rem;
}
.privacy .footer{
    padding-top: 1rem;
}

.privacy strong{
    font-weight: bold;
}

.privacy-policy{
    background-color: #FFFF;

}

.privacy-policy{
        font-family: "Poppins",sans-serif!important;
}

.privacy-policy h2{
    font-size: 2rem;
    font-weight: bolder;
}

.privacy-policy h4{
    font-size: 1.5rem;
    color: rgba(107, 124, 243, 1);
    font-weight:bold
}

.privacy-policy p, .privacy-policy a{
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.7;
}

#privacy-policy-scrollspy{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.privacy-policy .nav-pills{
    --bs-nav-pills-border-radius: none;
    --bs-nav-pills-link-active-color:rgba(107, 124, 243, 1);
    --bs-nav-pills-link-active-bg: #FFFF;
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: rgba(107, 124, 243, 1);
}
