.footer-cta{
    height: 70vw;
}

.footer-cta .footer-cta-image{
    top: 4%;
    left: 2.5vw;
}

.footer-cta .footer-cta-image img{
    width: 95vw;
}

.footer-cta .footer-cta-image .footer-cta-image-lg{
    display: none;
}

.footer-cta-content{
    top: 4%;
    left: 0;
    height: 108%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.footer-cta-content h1{
    color: rgba(26, 29, 74, 1);
    font-weight: 700;
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
}

.footer-cta-content h1 span{
    color: #ffff;
}

.footer-cta-content a{
    color: none;
    text-decoration: none;
    margin: 15px 0;
}

.footer-cta-content .footer-cta-button{
    display: contents;
}

@media (min-width:760px) {
    .home-footer-cta-content.footer-cta-content .home-footer-cta-h1{
        font-size: 20px!important;
    }
    .about-footer-cta-content.footer-cta-content .about-footer-cta-h1{
        font-size: 24px!important;
    }

    .footer-cta .footer-cta-image .footer-cta-image-lg{
        display:block;
    }

    .footer-cta .footer-cta-image .footer-cta-image-md{
        display: none;
    }

    .footer-cta{
        height: 10vw;
    }

    .footer-cta-content{
        height: 240%;
    }

    .footer-cta-content .footer-cta-button{
        display: flex;
        justify-content: center;
        margin-top: 2px;
    }

    .footer-cta .footer-cta-image{
        left: 12.5vw;
    }
    
    .footer-cta .footer-cta-image img{
        width: 75vw;
    }
}

@media (min-width:992px) {
    .home-footer-cta-content.footer-cta-content .home-footer-cta-h1{
        font-size: 24px!important;
    }

    .about-footer-cta-content.footer-cta-content .about-footer-cta-h1{
        font-size: 28px!important;
        margin-bottom: 0!important;
    }

    #about .footer-cta .about-footer-cta-content.footer-cta-content p{
        width: 60%;
    }

}

@media (min-width:1280px) {
    .home-footer-cta-content.footer-cta-content .home-footer-cta-h1{
        font-size: 28px!important;
    }
    .footer-cta .footer-cta-image {
        left: 18.5vw;
    }

    .footer-cta .footer-cta-image img {
        width: 63vw;
    }
    .footer-cta-content {
        height: 190%;
    }
    .home-footer-cta-content.footer-cta-content .home-footer-cta-h1{
        margin-bottom: 0;
    }

    #about .footer-cta .footer-cta-content {
        top: -38%!important;
    }

    #about .footer-cta .footer-cta-image img {
        width: 65vw!important;
    }

    #about .footer-cta .footer-cta-image {
        left: 18vw!important;
    }

    .about-footer-cta-content.footer-cta-content .about-footer-cta-h1{
        font-size: 32px!important;
        margin-bottom: 0!important;
    }

    #about .footer-cta .about-footer-cta-content.footer-cta-content p{
        font-size: 18px!important;
    }
    
    
}

@media (min-width:1800px) {
    .footer-cta {
        height: 8vw;
    }
    .footer-cta-content {
        height: 175%;
    }
    .footer-cta .footer-cta-image {
        left: 25vw;
    }

    .footer-cta .footer-cta-image img {
        width: 50vw;
    }
    .testimony .footer, #about .footer {
        padding-top: 10%;
    }

    #about .footer-cta .about-footer-cta-content.footer-cta-content p{
        width: 40%;
    }

    #about .footer-cta .footer-cta-image img {
        width: 50vw!important;
    }

    #about .footer-cta .footer-cta-image {
        left: 25vw!important;
    }

    #about .footer-cta .footer-cta-content {
        top: -46%!important;
    }
    
}

@media (min-width:480px) {
    .footer-cta-content a{
        margin: 20px 0;
    } 

    .footer-cta-content h1{
        width: 80%;
    }
}

@media (max-width:390px) {
    .footer-cta-content .footer-cta-button a{
        margin: 7px 0;
    }
}

@media (max-width:300px) {
    .footer-cta-content .footer-cta-button a img{
        width: 70%;
    }
     .footer-cta-content h1{
        font-size: 16px;
    }
}
