@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700@400&display=swap');

.waitlist{
    color: rgba(15, 15, 15, 1);
    background-color: rgb(105 105 105 / 20%);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    display: none;
}

.active-waitlist{
    display: flex;
}

.waitlist-container{
    width: 500px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255,  1);
    padding: 1rem 2rem;
}

.waitlist h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}

.waitlist-form div{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.waitlist-form label{
    font-size: 14px;
    margin-bottom: 7px;
}

.waitlist-form .firstName{
    width: 49%;
    margin-right: 2%;
}

.waitlist-form .lastName{
    width: 49%;
}

.waitlist-form input, .waitlist-form  select{
    padding: 10px, 16px, 10px, 16px;
    border-radius: 8px;
    border: 0.5px solid rgba(211, 211, 211, 1);
    height: 40px;
}

.waitlist-form button{
    width:169px;
    height:48px;
    border-radius: 8px;
    color: #FFFF;
    background-color: rgba(107, 124, 243, 1);
    border: 0;
}

.waitlist-form-header{
    display: flex;
    justify-content: space-between;
}

.waitlist-form-header img{
    width: 25px;
    height: 25px;
}

.waitlist-form-button{
    display: flex;
    align-items: flex-end;
}

@media (max-width:500px) {
    .waitlist h3{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .waitlist-form button{
        width:140px;
        height:40px;
        border-radius: 8px;
        color: #FFFF;
        background-color: rgba(107, 124, 243, 1);
        border: 0;
    }
}

@media (max-width:400px) {
    .waitlist-form button{
        width:120px;
    }
}

@media (max-width:300px) {
    .waitlist-form button{
        width:110px;
    }
}