html{
    font-size: calc(12px + 0.390625vw);
}

body{
    margin: 0;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: rgba(245, 245, 245);
}

@media (min-width:992px) {
    h1{
        font-size: 40px!important;
        line-height: 50px;
    }
    h2{
        font-size: 20px!important;
        line-height: 40px!important;
    }
}

@media (min-width:1200px) {
    h1{
        font-size: 50px!important;
        line-height: 60px;
    }
    h2{
        font-size: 40px!important;
        line-height: 50px!important;
    }

}

@media (min-width:1400px) {
    h1{
        font-size: 60px!important;
        line-height: 70px!important;
    }
    h2{
        font-size: 50px!important;
        line-height: 60px!important;
    }
}