html{
    font-size: calc(12px + 0.390625vw);
}

body{
    margin: 0;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}




/* styles for advantage jsx */
.testimony{
    text-align: center;
    padding: 30px 0 300px ;
    position: relative;
}

.testimony span{
    color: #6B7CF3;
}

.testimonies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonies .person{
    display: flex;
    width: 43%;
    height: 225px;
    border-radius: 5px;
    background-color: #1A1D4A;
    color: white;
    border-color: #6B7CF3;
    border-width: thin;
    border-style: groove;
    padding: 20px 2% 0;
    border: 2px;
    text-align: center;
    margin: 20px 10px;
}

.testimony-left{
    width: 21%;
    padding-top: 20px;
}

.testimony-right{
    width: 90%;
    text-align: left;
    padding-right: 2%;
    padding-left: 2%;
}

.testimony-name{
    font-weight: 700;
}

.testimony-tag{
    font-size: 12px;
}

.rectangle{
    width: 50%;
    border: 3px;
    border-color: #1A1D4A;
    height: 311px;
    position: absolute;
    border-style: solid;
    top: 25%;
    z-index: -1;
    left: 25%;
}

@media (max-width:760px) {
    .testimonies .person{
        width: 85%;
    }
    .rectangle{
        height: 800px;
    }
}


/* styles for footer jsx */
.rectangle2{
    position: absolute;
    width: 90vw;
    height: 90vh;
    z-index: 1;
    top: -40%;
}

.footer{
    position: relative;
    background-color: #1A1D4A;
    padding: 20px;
    z-index: 0;
    height: 400px;
    display: flex;
    max-width: 97%;
}


.rectangle-text{
    z-index: 2;
    position: absolute;
    top: -14%;
    color: white;
    text-align: center;
}

.footer-btn{
    width: 164px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: #6B7CF3;
    padding: 8px 0 40px;
    border: 0;
}

.footer .download{
    font-size: 22px;
    display: inline-block;
    margin-bottom: 5px;
    color: #6B7CF3;
}

.footer .links{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    top: 72%;
    color: white;
    width: 90%;
}

.footer .nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.social-links i{
    font-size: 21px;
}

.rectangle-text h1{
    font-size: 1.6rem;
    padding: 0 20px;
}

.rectangle-text .paragraph{
    font-size: 12px;
    padding: 0 20px;
}

.footer-cta{
    width: 100%;
    display: flex;
    justify-content: center;
}

.links .nav-links a{
    width: auto;   
    margin-left: 0;
    font-size: 0.8rem;
}

@media (max-width:768px) {
    .rectangle2{
        width: 90vw;
        height: 80vh;
    }
}

@media (max-width:635px) {
    .footer .nav-links{
        display: flex;
        flex-direction: column;
    }

    .footer .links{
        top: 50%;
    }

    .links .nav-links a{
        width: auto;   
        margin-bottom: 25px;
        font-size: 1rem;
    }

    .footer .social-links{
        width: 40%;
    }

    .rectangle2{
        width: 90vw;
        height: 60vh;
    }

    .rectangle-text{
        top: -18%;
    }

}

@media (max-width:476px) {
    .rectangle2{
        width: 90vw;
        height: 50vh;
        top: -28%;
    }

    .footer-btn{
        width: 140px
    }

}


