/* .secondComponent{
    padding: 40px 5%;
}
 */

@media (min-width:0px) {

    .form-customersupport{
        width: 100% !important;
    }

    .form-div{
        padding: 50px 10px;
        border: 0;
        border-radius: 0;
        box-shadow: 0
    }


.contact-label{
    color: rgba(15, 15, 15, 1);
    font-weight: 500;
}


.form-div ::placeholder {
    color:rgba(211, 211, 211, 1);
    font-size: 16px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(211, 211, 211, 1)
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(220, 199, 199)
    }


.form-div input, .form-div textarea{
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-color: white;
    border: 1px solid #F1F1F1;
    resize: none;
}

.form-div textarea{
    height: 250px;
}

.contact-form-button-div{
    display: flex;
    justify-content: right;
    margin-top: 25px;
}

.form-div button{
    background-color: rgba(107, 124, 243, 1);
    color: rgba(255, 255, 255, 1);
    padding: 7px 20px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
}

.form-div button:hover{
    cursor:pointer;
}

.form-customersupport{
    position: relative;
    margin: 0;
    max-width: 100%;
}

.form-customersupport-absolute{
    position: static;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.form-customersupport-absolute form{
    width: 100%;
}



.customer-support{
    margin: auto;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.customer-support p{
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    margin: 10px 0;
}

.customer-support .hours-p{
    margin-bottom: 25px;
}

.customer-support button{
    width:100%;
    height:56px;
    background-color: rgba(54, 187, 34, 1);
    color: rgba(249, 254, 249, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
}
.customer-support button i {
    font-size: 32px;
    margin-right: 18px;
}
 
}






@media (min-width:760px){

    .customer-support .hours-p {
        margin-bottom: 60px;
    }
    .form-customersupport-absolute{
        position: absolute;
        top: -65px;
        left: 0;
        height: 1150px;
        width: 100%;
        align-items: center;
    }

    .form-customersupport{
        height: 1124px;
    }

    .form-div{
        background-color: rgba(243, 244, 255, 1);
        border-radius: 16px;
        box-shadow: 7px 4px 40px 0 rgba(0, 0, 0, 0.05);
        padding: 50px 70px;
        width: 100%;
    }

    .form-div button{
        width: 215px;
    }
    .form-div textarea{
        height: 400px;
    }

    .customer-support{
        width: 70%;
        padding-top:40px ;
    }

    .customer-support button{
        width: 176px;
    }

    
}