.footer-cta{
    height: 70vw;
}

.footer-cta .footer-cta-image{
    top: 4%;
    left: 2.5vw;
}

.footer-cta .footer-cta-image img{
    width: 95vw;
}

.footer-cta .footer-cta-image .footer-cta-image-lg{
    display: none;
}

.footer-cta-content{
    top: 4%;
    left: 0;
    height: 108%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.footer-cta-content h1{
    color: rgba(26, 29, 74, 1);
    font-weight: 700;
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
}

.footer-cta-content h1 span{
    color: #ffff;
}

.footer-cta-content a{
    color: none;
    text-decoration: none;
    margin: 15px 0;
}

.footer-cta-content .footer-cta-button{
    display: contents;
}

@media (min-width:760px) {
    .footer-cta .footer-cta-image .footer-cta-image-lg{
        display:block;
    }

    .footer-cta .footer-cta-image .footer-cta-image-md{
        display: none;
    }

    .footer-cta{
        height: 10vw;
    }

    .footer-cta-content{
        height: 240%;
    }

    .footer-cta-content .footer-cta-button{
        display: flex;
        justify-content: center;
        margin-top: 2px;
    }

    .footer-cta-content a{
        margin: 20px 20px;
    } 

    .footer-cta .footer-cta-image{
        left: 13.5vw;
    }
    
    .footer-cta .footer-cta-image img{
        width: 75vw;
    }
}

@media (min-width:480px) {
    .footer-cta-content a{
        margin: 20px 0;
    } 

    .footer-cta-content h1{
        width: 80%;
    }
}

@media (max-width:390px) {
    .footer-cta-content .footer-cta-button a{
        margin: 7px 0;
    }
}

@media (max-width:300px) {
    .footer-cta-content .footer-cta-button a img{
        width: 70%;
    }
     .footer-cta-content h1{
        font-size: 16px;
    }
}

/* .footer-cta-content button{
    background-color: rgba(0, 0, 0, 1);
    color: #ffff;
    display: flex;
    border-radius: 8px;
    margin: 10px auto;
    padding: 0px 30px;
    align-items: center;
} */