.footer-links{
    text-align: left;
}

.footer-links .nav-links a{ 
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-links .nav-links {
    padding: 30px;
    text-align: left;
}

.footer-links .social-links i{ 
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-links .social-links{
    display: flex;
}

.footer-links .social-links a{
    margin-right: 20px;
}

.footer-logo img{
    width: 150px;
}

.footer{
    background-color: #1A1D4A;
    padding: 65px 1rem 30px;
}



@media (min-width:1024px) {
    .footer-links{
        text-align: center;
        vertical-align: center;
        display: flex;
        align-items: baseline;
    }

    .footer-links .nav-links{
        display: flex;
        width: 60%;
        margin: 0 auto;
    }

    .footer-links .nav-links a{
        width: 20%;
        margin-right: 20px;
    }

    .footer-links .social-links{
        margin: 0 auto;
    }
    .footer-logo{
        margin-right: auto;
    }
}

@media (max-width:240px) {
    .footer-logo img{
        width: 100px;
    }
    .footer-links .nav-links a {
        font-size: 6px;
        margin-bottom: 6px;
    }

    .footer-links .nav-links {
        padding: 15px 15px 3px;
    }

    .footer-links .social-links a {
        margin-right: 8px;
    }
    .footer-links .social-links i {
        font-size: 6px;
    }
}

@media (max-width:120px) {
    .footer-logo img{
        width: 60px;
    }
    .footer-links .nav-links a {
        font-size: 5px;
        margin-bottom: 3px;
    }

    .footer-links .nav-links {
        padding: 12px 12px 3px;
        
    }

    .footer-links .social-links a {
        margin-right: 5px;
    }

    .footer-links .social-links i {
        font-size: 5px;
    }
}