.div-container{
    max-width: 100%;
    padding: 40px 20px 60px;
    display: flex;
    align-items: center;
}


._navbar{
    max-width: 100%;
    background-color: #1A1D4A;
    color: #fff;
    max-width: 100%
  }

  .navbar-white{
    background-color: rgba(245, 245, 245, 1);
    color: black; 
  }
  

.links{
    font-family: 'Inter', sans-serif;
    width: auto;
}

.links a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
}

.links a:hover{
    opacity: 0.7;
}

.links .link-white{
    color: black;
}

.logo img{
    width: 140px;
}

.logo{
    width: auto;
    margin-right: 15px;
}



._navbar .nav-btn{
    width: auto;
    margin-left: auto;
    padding-bottom: 5px;
}

.nav-btn button{
    border-radius: 5px;
    padding: 14px 24px;
    font-size: 16px;
}

.nav-btn button p{
    font-size: 14px;
}

.nav-btn .button1{
    background-color: #1A1D4A;
    border-color: #6B7CF3;
    border-width: thin;
    color: white;
    border-style: groove;
}

.nav-btn button:hover{
    box-shadow: 0px 3px 19px black;
}

.nav-btn .button1-white{
    background-color: white;
    color: black;
}

.nav-btn .button2{
    background-color: #6B7CF3;
    color: #fff;
    border: 0;
    margin-left: 15px;

}

.hamburger-menu{
    display: none;
}

.to-cover{
    display: none;
   
}

.no-cover{
    display: none;
}

.cover-screen{
    display: none;
}

@media (max-width:1024px) {
    .div-container{
        margin: auto;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .over-flow{
        overflow-y: hidden;
    }

    ._navbar .no-cover{
        display: none;
    }

    .close{
        font-size: 1.8rem;
    }

    .to-cover{
        display: block;
    }
    
    .cover-screen{
        z-index: 2;
        position: fixed;
        display: flex;
        padding: 44px 15px 0 0;
        width: 85%;
        height: 100%;
        top: 0;
        left: 15%;
        background-color: rgb(26,29,74, 1);
        flex-direction: column;
        align-items: flex-end;
        color: #fff;
    }
    .links-sm{
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: right;
        margin: 20px 0;
    }
    
    .links-sm a{
        margin-bottom: 21px;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
    }

    .links-sm a:hover{
        opacity: 0.7;
    }

    .hamburger-menu{
        display: block;
        font-size: 1.8rem;
        margin-left: auto;
    }
    .links{
        display: none;
    }

    ._navbar .nav-btn{
        display: none;
    }

    .nav-btn-sm button{
        font-size: 16px;
        padding: 14px 24px;     
        border-radius: 5px;
    }

    .nav-btn-sm .button1{
        background-color: #1A1D4A;
        border-color: #6B7CF3;
        border-width: thin;
        color: white;
        border-style: groove;
    }

    .nav-btn-sm .button1-white{
        background-color: white;
        color: black;
    }

    .nav-btn-sm .button2{
        background-color: #6B7CF3;
        color: #fff;
        border: 0;
        margin-left: 20px;
        margin-top: 15px;
    }

    
}
