.secondComponent{
    padding: 40px 5%;
}

.secondComponent h5{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-div{
    width: 95%;
    margin: auto;
}

.form-div input, .form-div textarea{
    background-color: rgba(245, 245, 245, 1);
    border:  1px solid #000;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.form-div textarea{
    height: 220px;
}

.form-div button{
    background-color: rgba(107, 124, 243, 1);
    padding: 7px 20px;
}

.customer-support{
    margin: auto;
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.customer-support p{
    width: 70%;
    color: #0F0101;
}

.customer-support button{
    width: auto;
    background-color: rgba(54, 187, 34, 1);
    color: #F9FEF9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 24px 20px;
}
.customer-support button i {
    font-size: 32px;
    margin-right: 7px;
}


@media (max-width:760px){
    .customer-support{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }    

    .customer-support button{
        width: 70%;
    }
}