.contact-third-component{
    padding: 60px 0 20px 20px;
    background-color: rgba(26, 29, 74, 1);
    color: #F5F5F5;
    margin-top: 60px;
}

.contact-third-component .machnet{
   width: 100%;
   color: rgba(245, 245, 245, 1);
   font-size: 16px;
   line-height: 24px;
   text-align: left;
}

.contact-contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
}

hr{
    color: rgba(255, 255, 255, 1);
    opacity: 1;

}

/* .contact-contact div{
    width: 20%;
} */

.contact-title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.contact-details{
    color: rgba(245, 245, 245, 1);
    font-size: 16px;
}

@media (min-width:760px) {
    .contact-contact{
        flex-direction: row;
        justify-content: space-between;
        width: 88%;
    }

    .contact-third-component .machnet {
        width: 70%;
    }
}

@media (max-width:240px) {
    .contact-third-component{
        padding-left: 0.4rem;
        padding-top: 40px;
    }

    .contact-details {
        font-size: 8px;
        line-height: 1;
    }
    .contact-title{
        font-size: 12px;
        line-height: 1;
    }

    .contact-third-component .machnet {
        font-size: 8px;
    }

    .mb-3 {
        margin-bottom: 0.1rem!important;
    }

    .me-3{
        margin-right: 0.1rem!important;
    }

}

@media (max-width:120px) {
    .contact-third-component .machnet {
        font-size: 6px;
    }

    .contact-details {
        font-size: 6px;
    }
    .contact-title{
        font-size: 10px;
    }


}

