.contact-third-component{
    padding: 60px 0 20px 20px;
    background-color: rgba(26, 29, 74, 1);
    color: #F5F5F5;
    margin-top: 60px;
}

.contact-third-component .machnet{
   width: 100%;
   color: rgba(245, 245, 245, 1);
   font-size: 16px;
   line-height: 24px;
   text-align: left;
}

.contact-contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
}

hr{
    color: rgba(255, 255, 255, 1);
    opacity: 1;

}

/* .contact-contact div{
    width: 20%;
} */

.contact-title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.contact-details{
    color: rgba(245, 245, 245, 1);
    font-size: 16px;
}

@media (max-width:760px) {
    .contact-third-component{
        text-align: center;
    }
}

