.fourth-div{
    padding: 60px 1rem 250px;
}

.fourth-div .header h2{
    color: rgba(107, 124, 243, 1);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.fourth-div .header p{
    color: rgba(26, 29, 74, 1);
}

.reasons{
    margin: 20px 0 35px;
}

.reasons div{
    display: flex;
    align-items: flex-start;
}

.reasons p{
    color: rgba(15, 15, 15, 1);
    font-size: 14px;
    margin-left: 7px;
}

.fourth-div .smilingblackgirl{
    text-align: center;
}

.fourth-div .smilingblackgirl img{
    width: 100%;
}

/*STYLES FOR ABOUT FOOTER CTA */
#about .footer-cta .footer-cta-image {
    top: -36%;
}

#about .footer-cta .footer-cta-content{
    padding: 0 2rem;
    top: -12%;
}

#about .footer-cta {
    height: 50vw;
}

#about .footer-cta .footer-cta-content{
    color: rgba(245, 245, 245, 1);
}

#about .footer-cta .footer-cta-content h1{
    color: rgba(245, 245, 245, 1);
    margin-bottom: 30px;
}

#about .footer-cta .footer-cta-content p{
    font-size: 14px;
    margin-bottom: 10px;
}

#about .footer-cta .footer-cta-content a{
    margin: 10px auto;
    width: 190px;
}

@media (min-width:760px) {
    #about .footer-cta .footer-cta-content {
        top: -37%;
    }
    #about .footer-cta .footer-cta-content h1{
        margin-bottom: 1%;
    }
    
    #about .footer-cta .footer-cta-content p{
        font-size: 16px;
        width: 70%;
        margin: 0 auto 1%;
    }

    #about .footer-cta .footer-cta-image {
        left: 7.5vw;
    }

    #about .footer-cta-content .footer-cta-button {
        margin-top: 4px;
    }
    #about .footer-cta .footer-cta-image img {
        width: 86vw;
    }

    #about .footer-cta-content {
        height: 180%;
    }
    .fourth-div {
        background-color: rgba(255, 255, 255, 1);
    }

    .fourth-div .fourth-div-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-reasons{
        width: 40%;
    }

    .smilingblackgirl{
        width: 48%;
    }

    .fourth-div .header h2{
        font-size: 32px;
    }

    .reasons p{
        font-size: 16px;
    }

    #about .footer-cta{
        background-color: rgba(255, 255, 255, 1);
        height: 14vw;
    }

    #about .footer-cta .footer-cta-content .footer-cta-button a{
        width: 169px;
        margin: 0 10px;
    }
    #about .footer-cta .footer-cta-button a img{
        width: 100%;
    }
}

@media (max-width: 360px) {

    #about .footer-cta .footer-cta-content h1{
        color: rgba(245, 245, 245, 1);
        margin-bottom: 20px;
    }
    
    #about .footer-cta .footer-cta-content p{
        margin-bottom: 5px;
    }
      
    #about .footer-cta .footer-cta-content a{
        margin: 5px auto;
        width: 40%;
    }

    #about .footer-cta .footer-cta-content a img{
        width: 100%;
    }

}

@media (max-width:300px) {
    #about .footer-cta .footer-cta-content a img{
        width: 100%;
    }

    .fourth-div{
        padding-bottom: 200px;
    }
    

    #about .footer-cta .footer-cta-content h1{
        margin-bottom: 15px;
    }
    
    #about .footer-cta .footer-cta-content p{
        margin-bottom: 2px;
        font-size: 9px;
    }

    .fourth-div .header h2{
        margin-bottom: 20px;
        font-size: 20px;
    }

    .reasons{
        margin: 10px 0 25px;
    }

    .fourth-div .header p{
        font-size: 12px;
    }

    .reasons p{
        font-size: 11px;
    }

}

@media (max-width:200px) {
    .fourth-div{
        padding-bottom: 150px;
    }
    
    #about .footer-cta .footer-cta-content a{
        margin: 2px auto;
    }

    #about .footer-cta .footer-cta-content h1{
        margin-bottom: 5px;
        font-size: 13px;
    }
    
    #about .footer-cta .footer-cta-content p{
        font-size: 5px;
    }

    .fourth-div .header h2{
        margin-bottom: 10px;
        font-size: 17px;
    }

    .fourth-div .header p{
        font-size: 9px;
    }

    .reasons p{
        font-size: 8px;
    }

}